.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dateCont{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

.date{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #2e374a;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valuesCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.value{
    flex: 1;
    height: 150px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #2e374a;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.count{
    font-size: 40px;
}

.graphicsCont{
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #2e374a;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
}

.completedChart{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.paymentsChart{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.header{
    margin: 10px 0 0 20px;
}